body {
	margin-left: 10%;
	margin-right: 10%;
    margin-top:20px;
}

.btn {
	padding: 0rem 0rem;
}

#submitBtn {
	width: 6em;
	height: 2.5em;
}

#toggle {
	width: 15em;
}

@media(max-width: 480px){
	.container{
		margin-left:5% !important;
	}

	.userinput{
	margin-bottom: 50px !important;
	}
}

form {
    width: 100%;
    text-align: center;
}

.logo {
	height: 100px;
	width: auto;
}

.title {
	text-align: center;
	font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.inputBox{
	margin-bottom: 50px !important;
}

.results {
	margin-top: 50px;
}

.container {
	margin-left: 15%;
	margin-right:15%;
}

.input {
	margin-top: 20vh;
}

.results {

}

.switch {
	text-align: center;
	margin-top:50px;
}

.visualize {
	text-align: center;
	margin-top:50px;
	margin-bottom: 50px;
}

h5 {
	display: block;
}

a {
  color:black;
}

.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin-left: 46%;
  margin-top: 50px;
 }

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

blockquote p {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: inherit !important;
    font-weight: 300;
    line-height: 1.5 !important;
    color: #0680a6
}


blockquote {
  display: block;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
blockquote:after {
  content: attr(cite); /*  "\2013 \2003" */
  display: block;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

#mostNegComment {
	margin-bottom: 50px;
}

#avgPos {
	margin-top: 50px;
}

.resultTitle {
	margin-top: 50px;
	font-size: 18px;
}